<!--Start of each accordion item-->
  
  <div id="test-header4" class="accordion_headings" >Add Comment</div><!--Heading of the accordion ( clicked to show n hide ) -->
  
  
  
  <div id="test-content4" style="display: none;"><!--DIV which show/hide on click of header-->
  
  	<!--This DIV is for inline styling like padding...-->
    <div class="accordion_child" style="height: 100px;">
		<form name="response" method="post" action="/create_response?type=comment" >
		    <table>
		    	<tr><td>Add Comment</td></tr>    
		    	<tr><td><%= hidden_field_tag(:case_id, @case_id)%></td></tr>
			    <tr><td><%= text_area_tag "content","", :style=>"background:white; width:500px; height:300px;"%></td></tr>
			    <tr><td><%= submit_tag "Submit"%></td></tr></table>
		</form>
    </div>
    
  </div>
<!--End of each accordion item--> 

